* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
html{
    background-image: url('./img/bg1.jpg');
    background-position: fixed;
    background-size: 100% 100%;
}


.section {
    padding: 30px;
}
.heading {
    font-family: cursive;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.para{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.right {
    float: right;
    padding: 0 20px 20px 0;
    height: 100%;
    margin-top: -25%;
   }
